{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-slate-100">
    <nav class="bg-white flex justify-between items-center p-4 border-b-2">
      <div class="flex-initial">
        <span class="font-bold text-lg">GTA Stories</span>
      </div>
      <div class="flex justify-center">
        <a href="{% url 'home' %}" class="px-4 text-lg font-bold">Home</a>
        <a href="{% url 'book-list' %}" class="px-4 text-lg font-bold">Books</a>
        <a href="{% url 'community' %}" class="px-4 text-lg font-bold">Community</a>
      </div>
      <div class="flex-initial">
        <a href="{% url 'add-book' %}"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg"
        >
          Add-Book
      </a>
      </div>
    </nav>

    <main class="flex flex-col items-center">
      {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
